---
title: Newsletters
layout: toc
---
<h2 class="pt-1">Newsletters <small class="text-muted"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"> <i class="fa fa-rss-square" style="color:#FF7F00"></i></a></small></h2>

{% include newsletters.html grouped='year' %}

<p>Previous issues of the newsletter hosted <a href="https://openlab-flowers.inria.fr/t/ieee-cis-newsletter-on-cognitive-and-developmental-systems/129">here</a>. </p>

<p class="rss-subscribe pt-5">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> to the Task Force activities.</p>

