{% capture currentYear %}{{'now' | date: '%Y'}}{% endcapture %}
Copyright 2019-{{ currentYear}} by <a href="https://nicolas-navarro-guerrero.github.io">Nicol&aacute;s Navarro-Guerrero</a> • All site content, except where otherwise noted, is licensed under the <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a>. The code of this page is licensed under the <a target="_blank" href="https://www.gnu.org/licenses/gpl.html">GNU General Public License Version 3</a>.
