{% assign date = include.date %}

{% assign day = date | date: "%-d"  %}
{{ date | date: "%A, " }} 
{% case day %}
  {% when '1' or '21' or '31' %}{{ day }}<sup>st</sup>
  {% when '2' or '22' %}{{ day }}<sup>nd</sup>
  {% when '3' or '23' %}{{ day }}<sup>rd</sup>
  {% else %}{{ day }}<sup>th</sup>
{% endcase %}
{{ date | date: "%B" }}
{{ date | date: "%Y" }}
